
        .navbar {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #303443;
            position: fixed;
            top: 0;
            width: 100%;
        }

        .navbar li {
            float: left;
        }

        .navbar li a {
            display: block;
            color: white;
            text-align: center;
            padding: 0px 16px 14px 16px;
            text-decoration: none;
        }

        .navbar li a:hover:not(.active) {
            background-color: #111;
        }

        .navbar .left{
            float: left;
        }